<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem id="rentabik_menu_root" name="Rent Bike" sequence="10"/>
    <!-- This Menu Item Must have a parent -->
    <menuitem id="rentabik_kendaraan_menu_categ" name="Kendaraan" parent="rentabik_menu_root" sequence="10"/>
    <!-- This Menu Item Must have a parent -->
    <menuitem id="rentabik_pegawai_menu_categ" name="Pegawai" parent="rentabik_menu_root" sequence="20"/>
    <!-- This Menu Item Must have a parent -->
    <menuitem id="rentabik_transaksi_menu_categ" name="Transaksi" parent="rentabik_menu_root" sequence="42"/>
</odoo>